python create_coco_tf_record.py --logtostderr \
      --train_image_dir="${TRAIN_IMAGE_DIR}" \
      --val_image_dir="${VAL_IMAGE_DIR}" \
      --test_image_dir="${TEST_IMAGE_DIR}" \
      --train_annotations_file="${TRAIN_ANNOTATIONS_FILE}" \
      --val_annotations_file="${VAL_ANNOTATIONS_FILE}" \
      --testdev_annotations_file="${TESTDEV_ANNOTATIONS_FILE}" \
      --output_dir="${OUTPUT_DIR}"

python3 coco_to_tfrecord_converter.py \
      --train_image_dir="/home/love_you/thesis/clothes-detection/workspace/training_demo/images/train/images" \
      --val_image_dir="/home/love_you/thesis/clothes-detection/workspace/training_demo/images/validation/images" \
      --train_annotations_file="/home/love_you/thesis/clothes-detection/workspace/training_demo/images/json_for_train/retrieval_train_shop_information.json" \
      --val_annotations_file="/home/love_you/thesis/clothes-detection/workspace/training_demo/images/json_for_validation/retrieval_validation_shop_information.json" \
      --output_dir="/home/love_you/thesis/clothes-detection/workspace/training_demo/annotations"


python3 coco_to_tfrecord_converter.py \
      --train_image_dir="/home/love_you/Documents/Study/Thesis/clothes-detection/workspace/training_demo/images/train/images" \
      --train_annotations_file="/home/love_you/Documents/Study/Thesis/clothes-detection/workspace/training_demo/images/json_for_train/retrieval_train_shop_information.json" \
      --output_dir="/home/love_you/thesis/clothes-detection/workspace/training_demo/annotations"


python3 deepfashion2_to_coco.py -i "/home/love_you/thesis/clothes-detection/workspace/training_demo/images/validation" -o "/home/love_you/thesis/clothes-detection/workspace/training_demo/images/validation/retrieval_validation_shop_information.json"


export PYTHONPATH=$PYTHONPATH:/home/love_you/thesis/clothes-detection/models/research:/home/love_you/thesis/clothes-detection/models/research/slim